-- cdc transaction=430c326c-ab91-11f1-a23b-0242ac160004:27 commit_cursor=mysql-bin.000004:1257
START TRANSACTION;
INSERT INTO `CDC_test`.`binlog_reader_demo` (`id`, `message`, `amount`, `metadata`, `changed_at`) VALUES (1, CONVERT(X'62696E6C6F6720746573742031373838393137333532353832' USING utf8mb4), 12.34, CAST(CONVERT(X'7B227374616765223A22696E73657274227D' USING utf8mb4) AS JSON), '2026-09-09 09:29:12.849221') AS new ON DUPLICATE KEY UPDATE `id` = new.`id`, `message` = new.`message`, `amount` = new.`amount`, `metadata` = new.`metadata`, `changed_at` = new.`changed_at`;
COMMIT;
-- cdc transaction=430c326c-ab91-11f1-a23b-0242ac160004:28 commit_cursor=mysql-bin.000004:1708
START TRANSACTION;
UPDATE `CDC_test`.`binlog_reader_demo` SET `id` = 1, `message` = CONVERT(X'62696E6C6F67207465737420313738383931373335323538322075706461746564' USING utf8mb4), `amount` = 56.78, `metadata` = CAST(CONVERT(X'7B227374616765223A22757064617465227D' USING utf8mb4) AS JSON), `changed_at` = '2026-09-09 09:29:12.851171' WHERE `id` = 1 AND BINARY `message` = CONVERT(X'62696E6C6F6720746573742031373838393137333532353832' USING utf8mb4) AND `amount` = 12.34 AND `metadata` = CAST(CONVERT(X'7B227374616765223A22696E73657274227D' USING utf8mb4) AS JSON) AND `changed_at` = '2026-09-09 09:29:12.849221';
COMMIT;
-- cdc transaction=430c326c-ab91-11f1-a23b-0242ac160004:29 commit_cursor=mysql-bin.000004:2068
START TRANSACTION;
DELETE FROM `CDC_test`.`binlog_reader_demo` WHERE `id` = 1 AND BINARY `message` = CONVERT(X'62696E6C6F67207465737420313738383931373335323538322075706461746564' USING utf8mb4) AND `amount` = 56.78 AND `metadata` = CAST(CONVERT(X'7B227374616765223A22757064617465227D' USING utf8mb4) AS JSON) AND `changed_at` = '2026-09-09 09:29:12.851171';
COMMIT;
-- cdc transaction=430c326c-ab91-11f1-a23b-0242ac160004:32 commit_cursor=mysql-bin.000004:3131
START TRANSACTION;
INSERT INTO `CDC_test`.`binlog_reader_demo` (`id`, `message`, `amount`, `metadata`, `changed_at`) VALUES (2, CONVERT(X'62696E6C6F6720746573742031373838393139343835343730' USING utf8mb4), 12.34, CAST(CONVERT(X'7B227374616765223A22696E73657274227D' USING utf8mb4) AS JSON), '2026-09-09 10:04:45.750598') AS new ON DUPLICATE KEY UPDATE `id` = new.`id`, `message` = new.`message`, `amount` = new.`amount`, `metadata` = new.`metadata`, `changed_at` = new.`changed_at`;
COMMIT;
-- cdc transaction=430c326c-ab91-11f1-a23b-0242ac160004:33 commit_cursor=mysql-bin.000004:3582
START TRANSACTION;
UPDATE `CDC_test`.`binlog_reader_demo` SET `id` = 2, `message` = CONVERT(X'62696E6C6F67207465737420313738383931393438353437302075706461746564' USING utf8mb4), `amount` = 56.78, `metadata` = CAST(CONVERT(X'7B227374616765223A22757064617465227D' USING utf8mb4) AS JSON), `changed_at` = '2026-09-09 10:04:45.752588' WHERE `id` = 2 AND BINARY `message` = CONVERT(X'62696E6C6F6720746573742031373838393139343835343730' USING utf8mb4) AND `amount` = 12.34 AND `metadata` = CAST(CONVERT(X'7B227374616765223A22696E73657274227D' USING utf8mb4) AS JSON) AND `changed_at` = '2026-09-09 10:04:45.750598';
COMMIT;
-- cdc transaction=430c326c-ab91-11f1-a23b-0242ac160004:34 commit_cursor=mysql-bin.000004:3942
START TRANSACTION;
DELETE FROM `CDC_test`.`binlog_reader_demo` WHERE `id` = 2 AND BINARY `message` = CONVERT(X'62696E6C6F67207465737420313738383931393438353437302075706461746564' USING utf8mb4) AND `amount` = 56.78 AND `metadata` = CAST(CONVERT(X'7B227374616765223A22757064617465227D' USING utf8mb4) AS JSON) AND `changed_at` = '2026-09-09 10:04:45.752588';
COMMIT;
